extends layout

block content
  #logo
    img(src="images/logo.jpg")
  #projects
    each project in projects
      a.projectLink(href="projects/"+project)
        .project
          .projectTitle
            p #{project}